@import "../../../style/colors.scss";

.auto-complete-options-wrapper {
  padding-top: 25px;
  border-top-right-radius:32px;
  border-top-left-radius:32px;
  background-color: $light-grey;
  border-bottom-left-radius:8px;
  border-bottom-right-radius: 8px;
  
  .auto-complete-options {
    max-height: 400px;
    border-radius: 8px;
    overflow-y: auto;
    padding-top: 12px;
    // Scrollbar
    &::-webkit-scrollbar {
      width: 12px;
      border: 12px solid $grey;
      border-radius: 32px;
      border-top-right-radius: 64px;
      border-bottom-right-radius: 64px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $lightBlue;
    }
  }
}
