@import "../../../../style/colors.scss";
.auto-complete__options_item {
  display: flex;
  padding: 24px;
  &:hover{
    background-color: $light-grey-medium;
  }
  > .col:first-of-type {
    width: 80px;
    margin-right: 8px;
    img {
      height: 64px;
      width: 64px;
    }
  }
}
